<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simar angular exmaple</title>
</head>
<header ng-include="'static/nav.html'"></header>

<body ng-app="app" ng-controller="AppCtrl as app">
    simar. your app goes here Hello burrah
    <div ui-view>
        {{app.message}}
        <br>

        <button ng-click="app.addVideo()"> Add Video </button>
        <div ng-repeat="video in app.videos">
            <!--<img ng-src="video.image" alt=""/> -->
            {{video.title}}
            <div class="ui"></div>
                <input type="text" ng-model = "video.title"/>
                <button ng-click="app.deleteVideo(video)"> Delete Video </button>
        </div>
    </div>
</body>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="js/app.js"></script>

